In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
data = pd.read_csv('med-insurance.csv')
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [3]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [4]:
data.shape

(1338, 7)

In [5]:
data.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [6]:
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [13]:
data['sex'].unique()
data['smoker'].unique()
data['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [14]:
data['sex'] = data['sex'].replace(['male','female'],[1,0])
data['smoker'] = data['smoker'].replace(['yes','no'],[1,0])

In [15]:
data = pd.get_dummies(data, columns=['region'], drop_first=False)

In [16]:
X = data.drop(columns=['expenses'])
y = data['expenses']

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model = LinearRegression()

In [20]:
model.fit(x_train, y_train)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.7475811887775032, 0.7608384570206923)

In [21]:
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [22]:
models = [RandomForestRegressor(),ExtraTreesRegressor(),AdaBoostRegressor(),DecisionTreeRegressor(),
         SVR(),KNeighborsRegressor()]

In [23]:
for i in models:
    model = i
    model.fit(x_train, y_train)
    print("i = ",i)
    print(model.score(x_train, y_train), model.score(x_test, y_test))
    print()

i =  RandomForestRegressor()
0.9758569111304809 0.8468607409812249

i =  ExtraTreesRegressor()
0.9983479596659354 0.8194898918752572

i =  AdaBoostRegressor()
0.8339576479559995 0.8194181254423062

i =  DecisionTreeRegressor()
0.9983479596659354 0.7128434914435593

i =  SVR()
-0.11015028284766681 -0.08432663319045841

i =  KNeighborsRegressor()
0.44690483859882013 0.12538249202472806